@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');


.PDPWrapper {
   display: flex;
   padding: 160px 90px;
   justify-content: center;
}

.PDP__smallImg img {
   object-fit: contain;
   width: 80px;
   height: 80px;
   margin-right: 40px;
   margin-bottom: 40px;
}

.PDP__smallImg {
   user-select: none;
   cursor: pointer;
   margin-bottom: 40px;
}

.PDP__smallImg img:last-child {

   margin-bottom: 0;
}

.PDP__mainImg img {
   object-fit: contain;
   width: 610px;
   height: 511px;
   margin-right: 100px;
}

.PDP__info {
   display: flex;
   flex-direction: column;
   width: 292px;
}

.info__title_firm {
   font-weight: 600;
   font-size: 30px;
   line-height: 27px;
   margin-bottom: 16px;
}

.info__title_type {
   font-weight: normal;
   line-height: 27px;
   margin-bottom: 43px;
   font-size: 30px;
}

.attrLabel {
   text-transform: uppercase;
   display: inline-block;
   line-height: 18px;
   font-family: "Roboto Condensed";
   font-weight: 700;
   line-height: 18px;
   font-size: 18px;
   margin-bottom: 21px;

}

.sizeGrids {
   display: flex;
   flex-direction: row;
}

.sizeGrid {
   background-color: transparent;
   cursor: pointer;
   text-align: center;
   height: 40px;
   width: 70px;
   border: 1px solid black;
   margin-right: 12px;
   margin-bottom: 24px;
}

.sizeGrid:last-child {
   margin-right: 0px;
}

.sizeGrid span {
   display: inline-block;
   font-family: "Source Sans Pro";
   font-size: 16px;
   font-weight: normal;
}

.sizeGridActive {
   color: white;
   background-color: black;
}

.colorBlock span {
   font-family: "Roboto Condensed";
   display: inline-block;
   font-weight: 700;
   line-height: 18px;
   font-size: 18px;
   margin-bottom: 8px;
}

.colorGrids {
   display: flex;
   flex-direction: row;
   margin-bottom: 36px;
}

.colorGrid {
   border: transparent;
   cursor: pointer;
   display: block;
   background-color: black;
   width: 35px;
   height: 35px;
   margin-right: 8px;
}

.colorGridActive {
   position: absolute;
   margin-top: -20px;
   margin-left: -8px;
   width: 37px;
   height: 37px;
   border: 1px #5ECE7B solid;
}

.priceBlock span:first-child {
   display: inline-block;
   font-family: "Roboto Condensed";
   font-weight: 700;
   line-height: 18px;
   font-size: 18px;
   margin-bottom: 20px;
}

.priceBlock span:last-child {
   display: inline-block;
   font-family: "Raleway";
   font-weight: 700;
   line-height: 18px;
   font-size: 24px;
   margin-bottom: 30px;
}

.addToCart {
   margin-left: -6px;
   background-color: transparent;
   border: transparent;
}

.addToCartBtn {
   white-space: nowrap;
   user-select: none;
   cursor: pointer;
   display: inline-block;
   color: white;
   background-color: #5ECE7B;
   font-weight: 500;
   font-size: 16px;
   padding: 19px 93px;
   margin-bottom: 30px;
}

.description {
   font-family: "Roboto";
   display: inline-block;
   font-size: 16px;
   line-height: 160%;
}

.deactivated {
   position: fixed;
   z-index: 10;
   display: block;
   background-color: #393748;
   opacity: 22%;
   width: 100%;
   height: 100%;
}