@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');

.currency__container {
   margin: 0 auto;
   position: relative;
   max-width: 1230px;
   height: 100%;
}

.currency {
   position: absolute;
   float: right;
   clear: right;
   background-color: white;
   right: 50px;
   top: 100px;
   z-index: 100;
   padding: 20px 0;
   display: flex;
   width: 114px;
   flex-direction: column;
   box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.currencyItem {
   background-color: transparent;
   border: none;
   text-align: left;
   padding: 8px 0;
   width: 100%;
   cursor: pointer;
   font-family: "Raleway";
   font-weight: 500;
   font-size: 18px;
   line-height: 28.8px;
}

.currency button span {
   user-select: none;
   display: inline-block;
   margin-left: 20px;
}

.activeCurrency {
   background-color: #EEEEEE;
}

@media (min-width: 1230px) {
   .currency {
      right: 0px;
   }
}

@media (max-width: 767px) {
   .currency {
      right: 75px;

   }
}